.vis{
visibility:  visible ;
}
.unvis{
visibility: hidden ;
}
@charset "UTF-8";
/*
Theme Name = date
Author: Nolegolaz
Description: Занимательная тема с множеством анимаций.
Version: 1.0.0
*/
/*@font-face {
  font-family: 'Noah';
  src: url("assets/fonts/noah/Noah-Regular.woff2") format("woff2"), url("assets/fonts/noah/Noah-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Noah';
  src: url("assets/fonts/noah/Noah-Bold.woff2") format("woff2"), url("assets/fonts/noah/Noah-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Clear Sans';
  src: url("assets/fonts/clearSans/ClearSans-Medium.woff2") format("woff2"), url("assets/fonts/clearSans/ClearSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Circe';
  src: url("assets/fonts/circe/Circe-Regular.woff2") format("woff2"), url("assets/fonts/circe/Circe-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Circe';
  src: url("assets/fonts/circe/Circe-Light.woff2") format("woff2"), url("assets/fonts/circe/Circe-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Circe';
  src: url("assets/fonts/circe/Circe-Bold.woff2") format("woff2"), url("assets/fonts/circe/Circe-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Circe Extra';
  src: url("fonts/circe/Circe-ExtraBold.woff2") format("woff2"), url("fonts/circe/Circe-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
*/

  

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
z-index: 10000;
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

.page-home {
  background-color: #000000;
  height: 100vh; }

.header {
  padding: calc(100vh/27) 40px 0 40px;
  margin: 0 auto;
  max-width: calc(100vh/0.818181818);
  display: flex;
  justify-content: space-between; }
  @media (max-width: 450px) {
    .header {
      padding-left: 20px;
      padding-right: 20px; } }

.nav {
  font-family: 'Noah', 'sans-serif';
  font-size: calc(100vh/37.3702422);
  text-transform: uppercase;
  max-width: calc(100vh/2.91891891892);
  display: flex; }

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.site-navigation__link {
  text-decoration: none;
  color: #000000;
  letter-spacing: calc(100vh/308.571429);
  position: relative; }
  .site-navigation__link--current {
    font-family: 'Noah', 'sans-serif';
    font-weight: bold; }
  .site-navigation__link--current::after {
    position: absolute;
    content: '';
    bottom: 2px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000000; }

.page-home .site-navigation__link {
  color: #ffffff; }
  .page-home .site-navigation__link--current::after {
    background-color: #ffffff; }

.site-navigation li:nth-child(2) {
  margin-right: 16.3043478%; }

.site-navigation li:nth-child(5) {
  margin-right: 0.815217391%; }

.site-navigation li:nth-child(8) {
  margin-right: 1.35869565%; }

/*
Стили и шрифты которые я добавил /==================================================================================
*/
@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../fonts/circe_extrabold.woff2') format('woff2'),
  url('../fonts/circe_extrabold.woff') format('woff');
}

.container{
  z-index: 200;
	max-width: calc(100vw/1.37142857);
  margin: calc(100vw/32) auto 0 auto;
  height: 100%;

    
}

.txt{
	font-family: 'Circe ExtraBold', sans-serif;
	font-size: 22px;
	fill: black;	
}

.svgDes{
	margin: 0 0 0 0;
}

.contentDiv{

	display: flex;
}

.elipse__first{

  margin-left: calc(100vw/42.6666666667);
  
  z-index: 1;
  visibility: hidden;
}
.elipse__second{

  margin-right: calc(100vw/34.9090909091);
  
  z-index: 1;
}

.duga{ 
    transform: translateX(2%);
  	z-index: 10;	
}


.elipse__first::before {
    content: '';
    position: absolute;
    padding: calc(100vw/5.8358662614) calc(100vw/22.994011976) calc(100vw/5.8358662614) calc(100vw/22.994011976);
    width: 1px;
    height: 1px;
    background-color: #ff0000;
    border-radius: 50%;
    z-index: 1;

}
.elipse__second::before {
    content: '';
    position: absolute;
    padding: calc(100vw/5.8358662614) calc(100vw/22.994011976) calc(100vw/5.8358662614) calc(100vw/22.994011976);
    width: 1px;
    height: 1px;
    background-color: #ff0000;
    border-radius: 50% ;
    z-index: 1;
    transform: translateX(-80%);

}

svg{
	width: calc(100vw/1.5);	
	height: calc(100vw/2.95384615385);
}
.mouse-hover {

  bottom: calc(100vw/16.2711864407);  
  left: 29%;  
  position: relative;
  padding: calc(100vw/274.285714286) 0 0 calc(100vw/274.285714286);
  z-index: 100;
  margin: -10px 0 0 calc(-100vw/15.1181102362);
  backface-visibility: hidden;
  width: calc(100vw/7.5);
  height: calc(100vw/71.1111111111);
  cursor: pointer;
  color: black;
  font-family: 'ClearSans', sans-serif;
  font-size: calc(100vw/96.4824120603);
  font-weight: 500;
  text-transform: uppercase;
}


.mouse-hover:hover {
  background-color: #ed0e0e;
  color: #fff;
}
.elipse__animated {

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.animate__flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

@media(max-width: 1000px){
  
 

}
@media(max-width: 800px){
.mouse-hover{
 
    font-size: calc(100vw/52);

}

}
@media(max-width: 450px){

.txt{
  font-size: 25px;

}

.contentDiv{

  transform: scale(1.1);
}
.container{
  margin: calc(100vw/11) auto 0 auto;
    
}

.mouse-hover{
 
    font-size: calc(100vw/55);

}

}
















